:root {
    --vino: #59121F;
    --marron: #744B46;
    --azul: #6D86A6;
    --beige: #C0ADA8;
    --verde-claro: #9DC47A;
    --verde-oscuro: #55852F;
    --gris: #6B6B6B;
    --blanco: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

footer {
    margin: 20px;
}

footer p, footer a {
    color: var(--gris);
    text-align: center;
    text-decoration: none;
}

footer sub, footer span {
    font-weight: bold;
}
