@import url('base.css');

.container-table{
    margin: 20px;
    overflow-x: auto;
}

.container-table h4 {
    color: var(--marron);
    font-size: 1.5vw;
    text-align: center;
}

.container-table h5 {
    color: var(--gris);
}

.container-table table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid var(--beige);
}

.container-table th, .container-table td {
    border: 2px solid var(--beige);
    padding: 8px;
    text-align: center;
}

.container-table th {
    background-color: var(--gris);
    color: var(--blanco);
}

.container-table button {
    color: var(--vino);
    background-color: var(--beige);
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}