<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/styles.css"/>
    </head>
    <body>
        
        <section class="container">
            <p>Metabolismo urbano</p>
            <p> - </p>
            <p>Cambio climático</p>
            <p> - </p>
            <p>Sumidero CO<sub>2</sub></p>
            <p> - </p>
            <p>Diseño urbano</p>
            <p> - </p>
            <p>Espacio público</p>
            <p> - </p>
            <p>Funcionalidad</p>
        </section>


        <section class="container">
            <div class="logo-txt">
                <h1>LA CIUDAD COMO SUMIDERO DE CARBONO</h1>
                <h3>Calcula la vegetación para tu proyecto</h3>
            </div>
            <img src="{{url_for('static', filename='image/logo-tfg.png')}}" alt="Logo TFG"/>
        </section>


        <section class="container container-data">
            <img src="{{url_for('static', filename='image/GW6A6175.jpg')}}" alt="Logo Datos"/>
            <div>
                <h3>Datos del proyecto</h3>
                <p>Superficie disponibles (m<sup>2</sup>)</p>
                <p>Cantidad de CO<sub>2</sub> generado por año</p>
                <p>Número de arboles máximos a plantar</p>
            </div>
        </section>

    </body>
</html>