<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="./static/styles.css"/>
        <title>TFG Karla</title>
    </head>
    <body>
        <section class="container-general">
            <p>Metabolismo urbano</p>
            <p> - </p>
            <p>Cambio climático</p>
            <p> - </p>
            <p>Sumidero CO<sub>2</sub></p>
            <p> - </p>
            <p>Diseño urbano</p>
            <p> - </p>
            <p>Espacio público</p>
            <p> - </p>
            <p>Funcionalidad</p>
        </section>

        <section class="container-general">
            <div class="container-logo-txt">
                <h1>LA CIUDAD COMO SUMIDERO DE CARBONO</h1>
                <h3>Calcula la vegetación para tu proyecto</h3>
            </div>
            <img class="img-logo-tfg" src="{{url_for('static', filename='images/logo-tfg.png')}}" alt="Logo TFG"/>
        </section>

        <div class="line-horizontal"></div>
    
        <section class="container-arboles">
            <img class="img-arboles" src="{{url_for('static', filename='images/logo-arboles.png')}}" alt="Logo Arboles"/>
            <h2>Construyendo ciudades que respiran</h2>
            <img class="img-arboles" src="{{url_for('static', filename='images/logo-arboles.png')}}" alt="Logo Arboles"/>
        </section>

        <div class="div-space"></div>

        <section class="container-general container-data">
            <img class="img-logo-bbdd" src="{{url_for('static', filename='images/logo-bbdd.png')}}" alt="Logo Datos"/>
            <div class="">
                <h3>Datos del proyecto</h3>
                <form action="{{url_for('home')}}" method="post">
                    <div class="space-element">
                        <label for="co2-capture">Cantidad de CO<sub>2</sub> a capturar (tn/año):</label>
                        <input type="number" id="co2-capture" name="co2-capture" min="0" step="0.01" required>
                    </div>
                    <div class="space-element">
                        <label for="tree-number">Número de árboles a plantar:</label>
                        <input type="number" id="tree-number" name="tree-number" min="0" step="1" required>
                    </div>
                    <div class="space-element">
                        <button type="submit">Calcular</button>
                    </div>
                </form>
            </div>
        </section>

        
    {% if table_data %}
    <h2>Resultados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Especie</th>
                <th>Máxima Altura (m)</th>
                <th>Necesidad Hídrica</th>
                <th>Tipo</th>
                <th>Absorción Anual (Árbol)</th>
                <th>Absorción Anual (Grupo árboles)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                <td>{{ row['especie'] }}</td>
                <td>{{ row['max_altura_m'] }}</td>
                <td>{{ row['necesidad_hidrica'] }}</td>
                <td>{{ row['tipo'] }}</td>
                <td>{{ row['absorcion_anual'] }}</td>
                <td>{{ row['absorcion_anual_arbol'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


        
        



    </body>
</html>