/* Property sobre los colores */
:root {
    --vino: #59121F;
    --marron: #744B46;
    --azul: #6D86A6;
    --beige: #C0ADA8;
    --verde-claro: #9DC47A;
    --verde-oscuro: #55852F;
    --gris: #6B6B6B;
    --blanco: #FFFFFF;
}

/* Estilos generales sobre los elementos de los fichero html */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

h3 {
    font-size: 2.5vw;
}

.container-general {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-general p {
    color: var(--gris);
    font-weight: bold;
    font-size: 1.5vw;
}

.container-arboles {
    display: flex;
    justify-content: space-evenly;
}

.container-arboles h2 {
    color: var(--marron);
    font-size: 2.5vw;
}

.container-logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.container-logo-txt h1 {
    font-size: 5vw;
    color: var(--verde-claro);
}

.container-logo-txt h3 {
    color: var(--marron);
}

.container-data {
    margin: 20px;
    padding: 25px;
    background-color: var(--verde-oscuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-data label, h3 {
    color: var(--blanco);
}

.container-data h3, label {
    text-align: center;
}

.container-data label, button {
    font-size: 1.3vw;
}

.container-data button {
    color: var(--vino);
    background-color: var(--beige);
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

.space-element {
    padding-bottom: 25px;
    text-align: center;
}

.img-logo-tfg {
    max-width: 40%;
    height: auto;
}

.img-logo-bbdd {
    max-width: 30%;
    height: auto;
}

.img-arboles {
    max-width: 20%;
    height: auto;
}

.line-horizontal {
    height: 5px; 
    background-color: var(--vino);
    margin: 60px 15px;
}

.div-space {
    margin: 60px;
}

/* Estilos para el fichero page_error */
.img_err_body, .img_err_html
{
    height: 100%;
    margin: 0;
}

.img_err_bg
{
    background-image: url('../static/image/image-error.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}